<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-white" href="#">Home <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<div class="container">
  
  <div class="row">
    <div class="col-xs-12 col-md-6 border">
      <div class="col-xs-12 border">
        <h3>Componente A</h3>
        <app-component-a></app-component-a>
      </div>
      <div class="col-xs-12 border">
        <h3>Componente B</h3>
        <app-component-b></app-component-b>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 border">
      <h3>Servicio</h3>
    </div>
  </div>
</div>